body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  max-width: 480px;
  margin: 0 auto;
}

.button_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 10em;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition:
    border-color 0.15s,
    box-shadow 0.15s;

  box-sizing: border-box;
  resize: vertical; /* 縦幅だけ可変にするCSS */
}

textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #ebf6ff;
}

button {
  background-color: #ffffff;
  border: 1px solid #282c34;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  appearance: none;
}

button:hover {
  background-color: #ccc;
}

.noteList {
  display: grid;
  gap: 32px;
}
.noteItem {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  display: grid;
  gap: 8px;
}
